dev.memudo.rent {
  tls /etc/ssl/certs/dev.memudo.rent+1.pem /etc/ssl/private/dev.memudo.rent+1-key.pem

  handle /image/* {
    uri strip_prefix /image
    reverse_proxy image:8080
  }

  handle /nominatim/* {
    uri strip_prefix /nominatim
    reverse_proxy nominatim:8080
  }

  reverse_proxy app:5173
}
