{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 60,
  "semi": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": ["*.svelte", "*.svx"],
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
