dev.habita.rent {
  tls /etc/ssl/certs/dev.habita.rent.pem /etc/ssl/private/dev.habita.rent-key.pem

  handle /image/* {
    uri strip_prefix /image
    reverse_proxy image:8080
  }

  handle /nominatim/* {
    uri strip_prefix /nominatim
    reverse_proxy nominatim:8080
  }

  # SvelteKit app - primary, catches all other routes
  reverse_proxy https://svelte:5174 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

status.dev.habita.rent {
  tls /etc/ssl/certs/dev.habita.rent.pem /etc/ssl/private/dev.habita.rent-key.pem

  # Gatus status page
  reverse_proxy gatus:8080
}
