.card {
  display: grid;
  grid-template-columns: 200px 1fr;
  border: 2px solid var(--gray-400);
  border-radius: 0.5rem;
  background-color: var(--gray-700);
  overflow: hidden;
  padding: var(--spacing-2);
}
.card:not(:has(> img)):not(:has(> section)) {
  grid-template-columns: 1fr;
}
.card > img {
  grid-column: 1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card > img,
.card > .carousel {
  border: 2px solid var(--gray-400);
  border-radius: 0.5rem;
}
.card > section {
  grid-column: 1;
  grid-row: 1 / -1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card > div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-2);
  align-items: center;
}
.card:has(> img) > div,
.card:has(> section) > div {
  grid-column: 2;
  grid-row: 1 / -1;
}
.card:not(:has(> img)):not(:has(> section)) > div {
  grid-column: 1;
}
.card > div > h4 {
  grid-column: 1;
  grid-row: 1;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-100);
}
.card > div > ul {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.card > div > p {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--gray-100);
  line-height: 1.2;
}
