.formulary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.formulary h1 {
  font-size: var(--spacing-5);
}

.formulary > section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.formulary section h3 {
  font-size: var(--spacing-6);
}
.formulary section > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: var(--header-height);
  background-color: var(--gray-900);
  z-index: 5;
  padding-block: var(--spacing-2);
  height: auto;
  padding-inline: 0;
}
.formulary section .actions {
  display: flex;
  gap: var(--spacing-2);
}

.formulary section h3:first-letter {
  text-transform: uppercase;
}

.formulary label {
  display: block;
}

.formulary input,
.formulary select {
  height: var(--spacing-12);
  padding-inline: var(--spacing-2);
  border: 1px solid var(--gray-400);
  background-color: var(--gray-700);
}

.formulary input:focus-visible,
.formulary select:focus-visible {
  outline: 3px solid var(--accent);
  outline-offset: 3px;
}

.formulary .radio {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.formulary .radio input[type="radio"] {
  width: var(--spacing-4);
  height: var(--spacing-4);
  /* margin: 0; */
}

.formulary .radio label {
  display: inline;
  /* margin: 0; */
}

.formulary form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.formulary form .actions {
  display: flex;
  gap: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.formulary .checkbox {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.formulary .checkbox input[type="checkbox"] {
  width: var(--spacing-4);
  height: var(--spacing-4);
}

.formulary .checkbox label {
  display: inline;
}

.formulary .field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.formulary .field .error {
  color: var(--destructive);
  font-size: var(--spacing-3);
}
