header {
  display: grid;
  place-items: end;
  padding: var(--spacing-2);
  background-color: var(--gray-700);
}

header nav {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

header button {
  mix-blend-mode: difference;
}
