.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid var(--gray-400);
}

.table thead tr {
  background-color: var(--gray-700);
}

.table th {
  border: 1px solid var(--gray-400);
  padding: var(--spacing-3);
  font-weight: 500;
}

.table td {
  border: 1px solid var(--gray-400);
  padding: var(--spacing-3);
}
